<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navv border-bottom box-shadow mb-3">
    <div class="container ">
      <a class="navbar-brand" [routerLink]="['/']">ENCHERE</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-danger " [routerLink]="['/enchere']">
              enchére
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/']">
              <i class="bi bi-house"></i>
              Home
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/login']">
              <i class="bi bi-person"></i>
              Se Connecter
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/signup']">
              <i class="bi bi-person-plus "></i> Creer un compte
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/enchere/now']">
               Enchere Now
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
