<p>Bienvenue sur notre site de ventes aux <code>enchères</code>, ici vous pouvez enchérir sur <code>les antiquités</code> les plus importantes</p>
<div style="display: flex; justify-content: center; ">
  <img src="assets/photos/enchere.png" alt="Description of the image" style="max-width: 600px; border-radius: 10px;">
</div>
<br />
<h2>Les catégories</h2>
<br />
<div style="display: flex; justify-content: space-around; align-items: center;">
  <!-- Frame 1 -->
  <div>
    <img src="assets/photos/art.png" alt="Description of the image" style="max-width: 130px; border-radius: 10px;">
    <a [routerLink]="['/art']">
      <p>Art et décoration</p>
    </a>
    
  </div>

  <!-- Frame 2 -->
  <div>
    <img src="assets/photos/antique.jpg" alt="Description of the image" style="max-width: 150px; border-radius: 10px;">
    <a [routerLink]="['/art']">
      <p>Antiquités</p>
      </a>
  </div>

  <!-- Frame 3 -->
  <div>
    <img src="assets/photos/Mobilier.jpg" alt="Description of the image" style="max-width: 150px; border-radius: 10px;">
    <a [routerLink]="['/art']">
      <p>Mobilier</p>
      </a>
  </div>

  <!-- Frame 4 -->
  <div>
    <img src="assets/photos/Bijoux.webp" alt="Description of the image" style="max-width: 150px; border-radius: 10px;">
    <a [routerLink]="['/art']">
      <p>Bijoux</p>
      </a>
  </div>
</div>
