<style>
  .centered-text {
    text-align: center;
  }
</style>
<h1 class="text-white centered-text">SignUp</h1><br>


<div style="text-align: center;  margin-bottom: 30px;">
  <label style="color: white; font-weight: normal; font-size: 20px; margin-bottom: 20px; display: inline-block; width: 100px;">UserName:</label>
  <input type="text" style="border: 1px solid #A3A3A3; background-color: #A3A3A3; height: 45px; border-radius: 20px; font-size: 18px; padding: 10px; width: 350px; display: inline-block;" name="UserName" required placeholder="UserName">
</div>

<div style="text-align: center;  margin-bottom: 30px;">
  <label style="color: white; font-weight: normal; font-size: 20px; margin-bottom: 20px; display: inline-block; width: 100px;">Password:</label>
  <input type="text" style="border: 1px solid #ccc; background-color: #A3A3A3; height: 45px; border-radius: 20px; font-size: 18px; padding: 10px; width: 350px; display: inline-block;" name="Password" required placeholder="Password">
</div>

<div style="text-align: center;  margin-bottom: 30px;">
  <label style="color: white; font-weight: normal; font-size: 20px; margin-bottom: 20px; display: inline-block; width: 100px;">Email:</label>
  <input type="text" style="border: 1px solid #ccc; background-color: #A3A3A3; height: 45px; border-radius: 20px; font-size: 18px; padding: 10px; width: 350px; display: inline-block;" name="Email" required placeholder="Email">
</div>

<div style="text-align: center;  margin-bottom: 30px;">
  <label style="color: white;  font-weight: normal;font-size: 20px; margin-bottom: 20px; display: inline-block; width: 150px;">Phone Number:</label>
  <input type="text" style="border: 1px solid #ccc;background-color: #A3A3A3; height: 45px; border-radius: 20px; font-size: 18px; padding: 10px; width: 300px; display: inline-block;" name="UserName" required placeholder="PhoneNumber">
</div>

<div style="text-align: center; margin-bottom: 40px;">
  <p>You have an account? <a href=""> Login</a></p>
  <input type="submit" value="Sign Up" id="SignUp" name="SignUp" style="background-color: #A92222; color: white; text-align: center; border-radius: 10px; margin-bottom: 20px; padding: 10px 20px; border: none; width: 100px;">
</div>
